
/* CSS #2 Features */
body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.features{
    position: absolute;
    width: 764px;
    height: 349px;
    top: 780px;
    left: 335px;
}
.features-content{
    display: flex;
}
.features-items{
    width: 200px;
    justify-content: space-between;
    text-align: center;
}
.item-1{
    background-image:url(../images/support-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 40px;
}
.support-img{
    position: absolute;
    top : 28px;
    left : 27px;
    margin: auto;
}
.item-2{
    background-image:url(../images/helpdesk-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 45px;
}
.helpdesk-img{
    position: absolute;
    top : 28px;
    left: 30px;
    margin: auto;
}
.item-3{
    background-image:url(../images/chat-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 50px;
}
.chat-img{
    position: relative;
    top : 25px;
    right: 25px;
    margin: auto;
}
.features-title{
    text-align: center;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.00625em;
    color: #333333;
}
.features-link{
    color: #2D8CFF;
}
.features-p{
    color: #72808E;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
}
.feature-h4{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #333333;
    margin-right: 10px;
}

/* CSS #3 Learn More About Us */
.learnmore{
    position: absolute;
    width: 100%;
    top: 2114px;
}
.learnmore-content{
    left: 10%;
    display: flex;
}
.learnmore-item{
    margin-left: 75px;
    width: 24%;
    text-align: center;
    padding-top: 15px;
}
.learnmore-title{
    position: relative;
    width: 376px;
    height: 47px;
    left: 450px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #4A4A4A;
}
.item-4{
    position: relative;
    width: 25%;
}
.item-5{
    position: relative;
    width: 25%;
}
.item-6{
    position: relative;
    width: 25%;
}
.learnmore-h4{
    font-size:18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    align-items: flex-end;
    color: #39394D;
}

/* CSS #4 Clients */
.clients{
    position: absolute;
    width: 100%;
    top: 3651px;
    margin: 0px 8%;
}
.clients-content{
    display: flex;
}
.clients-items{
    width: 20%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.clients-avatar{
    width: 80px;
    height: 80px;
}
.clients-info{
    padding-left: 20px;
    flex: 1;
}
.clients-user-name{
    width: 121px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    align-items: flex-end;
    display: flex;
    line-height: 21px;
    font-weight: 400;
    color: #39394D;
}
.clients-logo1{
    width: 90px;
    height: 18.15px;
}
.clients-logo2{
    width: 110px;
    height: 20.88px;
}
.clients-logo3{
    width: 138px;
    height: 32px;
}
.clients-logo4{
    width: 138px;
    height: 29px;
}

/* CSS #6 Header */
#header{
    background-image:url(../images/backgroundheader.png); 
    width: 1442px;
    height: 580px;
}
.header-content{
    position: absolute;
    width: 1300px;
    height: 72px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}
.header-iconbetterdesk{
    align-items: center;
}
.header-betterdesk{
    font-family: 'Arial Rounded MT Bold';
    font-size: 16px;
    line-height: 14px;
    position: absolute;
    width: 89px;
    height: 14px;
    left: 120px;
    color: #fff;
    top: 11px;
}
.header-icon{
    position: absolute;
    width: 25px;
    height: 24px;
    left: 80px;
    top: 27px;
}
.header-nav{
    width: 755px;
    float: left;
    top: 10px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
    padding-left: 0px;
}
ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 14px;
    position: relative;
}
ul li a::after{
    content: " ";
    background: #3DBDB6;
    width: 0px;
    height: 3px;
    margin-top: 50px;
    position:absolute;
    bottom: 0px;
    left: 0;
}
ul li a:hover::after{
    width: 130%;
}

ul li a.item-btn{
    box-sizing: border-box;
    padding-top: 9px;
    padding-left: 20px;
    position: absolute;
    width: 90px;
    height: 38px;
    top: 20px;
    border: 1px solid #979797;
    border-radius: 4px;
}
.header-title{
    position: absolute;
    width: 343px;
    height: 162px;
    left: 80px;
    top: 182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    color: #fff;
}
.header-search form{
    width: 500px;
    position: relative;
    top: 391px;
    left: 80px;
}
.header-search form input{
    width: 70%;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #FFF;
    background-color: #85859b;
    padding-left: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(218, 209, 209, 0.5);
}
::placeholder{
    color: #fff;
}
.header-btn-su{
    position: absolute;
    width: 125px;
    height: 48px;
    background-color: #3DBDB6;
    color: #FFF;
    border: none;
    box-shadow: 0px 1px 6px #4449A2;
    margin-top: 2px;
}
.header-family{
    width: 715px;
    height: 511px;
}

.header-right{
    position: absolute;
    width: 715px;
    height: 511px;
    left: 600px;
    top: 149px;
}
.header-logo{
    position: absolute;
    width: 1155px;
    height: 110px;
    top: 580px;
}
