/* CSS #2 Features */
.features{
    position: absolute;
    width: 764px;
    height: 349px;
    top: 780px;
    left: 335px;
}
.features-content{
    display: flex;
}
.features-items{
    width: 200px;
    justify-content: space-between;
    text-align: center;
}
.item-1{
    background-image:url(../images/support-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 40px;
}
.support-img{
    position: absolute;
    top : 28px;
    left : 27px;
    margin: auto;
}
.item-2{
    background-image:url(../images/helpdesk-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 45px;
}
.helpdesk-img{
    position: absolute;
    top : 28px;
    left: 30px;
    margin: auto;
}
.item-3{
    background-image:url(../images/chat-1.png);
    background-repeat: no-repeat;
    height: 57%;
    position: relative;
    margin-left: 50px;
}
.chat-img{
    position: relative;
    top : 25px;
    right: 25px;
    margin: auto;
}
.features-title{
    text-align: center;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.00625em;
    color: #333333;
}
.features-link{
    color: #2D8CFF;
}
.features-p{
    color: #72808E;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
}
.feature-h4{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #333333;
    margin-right: 10px;
}

/* CSS #3 Learn More About Us */
.learnmore{
    position: absolute;
    width: 100%;
    top: 2114px;
}
.learnmore-content{
    left: 10%;
    display: flex;
}
.learnmore-item{
    margin-left: 75px;
    width: 24%;
    text-align: center;
    padding-top: 15px;
}
.learnmore-title{
    position: relative;
    width: 376px;
    height: 47px;
    left: 450px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #4A4A4A;
}
.item-4{
    position: relative;
    width: 25%;
}
.item-5{
    position: relative;
    width: 25%;
}
.item-6{
    position: relative;
    width: 25%;
}
.learnmore-h4{
    font-size:18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    align-items: flex-end;
    color: #39394D;
}
